<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>
        {% block title%}
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet/less" type="text/css" href="/styles/base.less" />
    <!-- <link rel="stylesheet" href="/styles/base.less"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    {% block styles %}
    {% endblock %}
</head>

<body>
    <div class="">
        <header>
            <div class="bem-vindo">
                <p class="bem-vindo-p">Seja bem vindo, visitante!</p>
            </div>

            <div class="navbar">
                <div class="company-name">
                    <p class="name-company">LTMAQ LAZZAROTTO</p>
                </div>

                <!-- LOCAL DE NAVEGAÇÃO DO SITE -->
                <ul class="sections">
                    <li class="section nav-item">
                        <a class="nav-link btn btn-outline-dark" href="/">
                            <strong>Página inicial</strong>
                        </a>
                    </li>
                    <li class="section nav-item">
                        <a class="nav-link btn btn-outline-dark" href="/contact">
                            <strong>Contato</strong>
                        </a>
                    </li>
                    <li class="section nav-item">
                        <a class="nav-link btn btn-outline-dark" href="/about">
                            <strong>Sobre</strong>
                        </a>
                    </li>
                    <div class="section dropdown">
                        <button class="nav-link dropdown-toggle btn btn-outline-dark font-weight-bold" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categorias
                        </button>
                        <div class="page dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for item in categories %}
                            <li>
                                <a class="categoriesNames nav-link btn btn-primary"
                                    href="/c/{{ item.slug }}">{{ item.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </div>
                    </div>
                </ul>
            </div>
            <!-- LOCAL DE BUSCA NO SITE -->
            <form class="search-products" action="/products">
                <input class="search-input form-control" type="text" name="q"
                    placeholder="Digite o nome do produto a ser buscado" aria-label="Search">
                <button class="send-search btn-form btn btn-outline-primary" type="submit"
                    value="Search">Pesquisar</button>
            </form>


        </header>
        <div class="mt-5">
            {% block content %} {% endblock %}
        </div>
        <!-- RODAPÉ -->
        <footer class="page-footer font-small stylish-color-dark pt-4" style="background-image: url()">
            <hr>
            <div class="container text-center text-md-left">
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Lazzarotto</h5>
                        <p>
                            CNPJ: 00.000.000/0000-00.
                            <br> CEP: 997000-30.
                            <br> Rua Portugal, 270 sala B.
                            <br> Bairro: Centro.
                            <br> Cidade: Erechim / RS.
                            <br> Telefone: (54) 3321-6588.</p>
                    </div>
                    <div class="col-md-4 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Atendimento</h5>
                        <p>Seg. à Sex
                            <br>
                            Manhã: 8h às 12h
                            <br>
                            Tarde: 13h 30min às 18h 15min.
                            <br>
                            Sáb: Fechado.
                            <br>
                            Dom e Feriados: Fechado.</p>
                    </div>
                    <hr class="clearfix w-100 d-md-none">
                    <div class="col-md-2 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">O que fazemos</h5>
                        <!-- Links das redes sociais -->
                        <ul class="list-unstyled">
                            <li>
                                <p>Manutenção de lavadores de alta pressão.</p>
                            </li>
                            <li>
                                <p>Manutenção de aspiradores de pó.</p>
                            </li>
                            <li>
                                <p>Comércio de peças.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="text-center text-muted">
                <p>REDES SOCIAIS</p>
            </div>
            <!-- Social buttons -->
            <!-- Imagns das redes sociais na footer -->
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a href="https://pt-br.facebook.com/" class="btn-floating btn-fb mx-3">
                        <i class="fab fa-facebook-f">Facebook</i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://plus.google.com/?hl=pt-BR" class="btn-floating btn-gplus mx-3">
                        <i class="fab fa-google-plus-g">Google Plus</i>
                    </a>
                </li>
            </ul>
            <!-- Parte inferior da footer -->
            <div class="text-center text-muted">
                <p class="small">Lazzarotto - Comércio de peças e assistência técnica <i class="fas fa-copyright"></i>
                    Todos direitos reservados</p>
            </div>
    </div>
    </footer>
    <!-- scripts -->
    <script src="//cdn.jsdelivr.net/npm/less"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/js/base.js" charset="utf-8"></script>
    {% block script %} {% endblock %}
</body>

</html>