{% extends './layouts/base.html' %}
{% block content %}

<h1 class="text-center">SOBRE A EMPRESA</h1>
<hr>
<div class="div-about">
  <div class="left">
    <p>
      A LTMAQ Lazzarotto é uma empresa especializada na manutenção de máquinas lava-jato, aspiradores de pó,
      mototres elétricos, além de demais consertos.
    </p>
    <p>
      Em nossa loja você pode encontrar diversas peças para venda e reposição com base nas máquinas que trabalhamos.
      Comercializamos parafusos, porcas, mangueiras de alta pressão, óleos e peças específicas
    </p>
    <p>
      Você pode nos encontrar na Rua Portugal, 270 sala B, no bairro Centro, em Erechim / RS.
      Atendemos de segunda à sexta, pela parte da manhã das 8h às 12h, pela parte da tarde das 13h 30min às 18h 15min.
      Aos sábados, domingos e feriados permanecemos fechados.
    </p>
    <p>
      Entre em contato conosco pelo telefone (54) 3321-6588 ou pela aba de Contato.
    </p>
    <p>
      <a href="https://www.instagram.com/ltmaqlazzarotto/?hl=pt-br">Siga-nos no instagram</a>
      
    </p>
  </div>

  <div class="right">
    <img class="image-about" src="https://instagram.fpfb1-1.fna.fbcdn.net/v/t51.2885-15/e35/119978381_1797561550393915_8736884621449776994_n.jpg?_nc_ht=instagram.fpfb1-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=I0dl_1TdVFYAX9R6Rhx&tp=18&oh=b5a18155e9e6d2c5e90525ece0d7c6ae&oe=5FC2F77F" alt="" height="390px" width="390px">
  </div>
</div>


{% endblock %}
{% block title %}
  Sobre
{% endblock %}
{% block script %}
  <script src="/js/about.js" charset="utf-8"></script>
{% endblock %}

{% block styles %}
  <link rel="stylesheet/less" type="text/css" href="/styles/about.less" />
{% endblock %}
