body{
    background-color: rgb(202, 202, 202);
}

h1 {
    color: #007bff;
    font-size: 50px;
    font-family: fantasy;
}

p a {
    color: #007bff;
    font-family: fantasy;
    font-size: 25px;
}  

.modal-login{
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    position: fixed;
    background: white;
    height: 2000px;
    width: 2000px;
    top: 0;
    justify-content: end;
    padding-left: 20px;
}

/* DISPOSITIVO MÓVEL */
@media screen and (max-width: 768px) {
    h1 {
       font-size: 25px;
    }

    p a {
        font-size: 20px;
    }
}